/* rangeのスタイル */
.range-body {
  background: linear-gradient(135deg, #0d0c1d, #c7c739);
  color: #eee;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0 1rem;
  overflow-x: hidden;  

}

#range-tabs {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 0.5rem;
}

.range-tab-button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  user-select: none;
}

.range-tab-button.active {
  background-color: #00bcd4;
}
